br

h2 Introduction

p.
  A code search engine that actually understands and follows the code.

p.
  This is intended as a quick way to learn how to use a library, including
  typical boiler-plate and real-world use-cases.

p.
  Searching for a function name will show several examples of usage. The
  code snippets are (mostly) valid and ready to be copy-pasted. They include imports and
  constants, show where parameters are typically taken from, and what can be
  done with the output of the function. Relevant parts are color-coded,
  and more code can be digged out on demand.

h2 Demo
p.
  This is  a demo with a tiny codebase. You can try with Django's
  <a href="#/results/render">render</a> function,
  <a href="#/results/http_response">HttpResponse</a> class, or
  <a href="#/results/request">request</a> objects.

p.
  It uses the Neo4j graph database, Python/Django, and
  AngularJS/CoffeeScript/Jade.

h2 About
p.
  More on <a href="https://github.com/naure">GitHub/naure</a>.
